<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>至少现在还是一名程序员，不管再忙还在坚持搬砖。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
       

        <h2>Contact</h2>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        </ul>

       <h2>
         Note
       </h2>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹膜:)
       </p>


        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
